   <!-- About Tab Data -->
    
                <div id="about" ng-controller="aboutController">
                    <section class="clearfix" ng-model="app">
                        <div class="g2 profilePage">
                            <div class="photo">
                                <img ng-src="{{image}}" alt="Pravin Jadhav">
                            </div>
                            <div class="info">
                                <h2>
                                 {{name}}
                                </h2>
                                <h4>
                                    {{interest}}
                                </h4>
                                <p>{{about1}} &nbsp; <b>{{college}}</b>&nbsp;{{about2}}</p>
                            </div>
                        </div>
                        <div class="g1">
                          
                        </div>
                        <div class="break"></div>
                        <div class="contact-info">
                          <div class="g1 social-info">
                            <div class="">
                              <div class="item-data">  
                                <a href="mailto:pravinjadhav762@gmail.com">
                                    <img src="https://www.gstatic.com/images/icons/material/system/2x/post_gplus_black_24dp.png">
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="g1 social-info">
                            <div class="">
                              <div class="item-data">
                                <a href="https://www.facebook.com/pravinkumar.jadhav1">
                                    <img src="https://www.gstatic.com/images/icons/material/system/2x/post_facebook_black_24dp.png">   
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="g1 social-info">
                            <div class="">
                              <div class="item-data">
                                <a href="https://twitter.com/pravinjadhav762">
                                <img src="https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png">
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="g1 social-info">
                            <div class="">
                              <div class="item-data">
                                <a href="https://github.com/pravinjadhav7">
                                <img src="images/github-circle.png">
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
                </div>

              <!-- End About Tab Data -->
