<!-- Contact Tab Data -->
              
                <div id="contact" ng-controller="contactController">
                    <section class="clearfix" ng-model="app">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>My Address</h4>
                              <p>{{address}}</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Mobile Number</h4>
                              <p>{{num1}}<br/>{{num2}}</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <!--<i class="icon-user"></i>-->
                               <i class="material-icons">work</i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Looking For</h4>
                              <p>{{lookingFor}}</p>
                            </div>
                         </div>
                       </div>
                       <div class="break"></div>
                       
                    </section>
                </div>
              <!-- End Contact Data -->
            