  <!-- Portfolio Tab Data -->
                <div id="portfolio" ng-controller="portfolioController">
                    <section class="clearfix" ng-model="app">
                        <div class="g1">
                            <div class="image">
                                <img ng-src="{{image2}}" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="https://www.npmjs.com/package/materializecss-autocomplete" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img ng-src="{{image3}}" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://blubox.shoppinpal.com" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img ng-src="{{image4}}" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="https://github.com/pravinjadhav7/movie-collection" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="g1">
                            <div class="image">
                                <img ng-src="{{image5}}" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="https://github.com/pravinjadhav7/exam" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </section>
                </div>
              
              <!-- End Portfolio Data -->