    <!-- Resume Tab Data -->
                <div id="resume" ng-controller="resumeController">
                    <section class="clearfix" ng-model="app">
                        <div class="g2">
                            <h3>
                                Work Experience
                            </h3>
                            <ul class="no-list work">
                           
                                <li>
                                    <h5>
                                        <b>{{company}}</b>
                                    </h5><span class="label label-info">2016-2017</span>
                                    <p>{{myself}}</p>   
                                        
                                    <p>    
                                       <b>1. </b> {{bnext}} <br/>
                                         <br> <b>Responsibility:</b><br>
                                            <b>1.</b> {{one}}<br/>
                                            <b>2.</b>{{two}}<br/>
                                            <b>3.</b> {{three}}
                                    </p>    
                                       
                                    <p>    
                                        <b>2. </b> {{autocomplete}} <br/>
                                         <br> <b>Responsibility:</b><br>
                                            <b>1.</b> {{one}}<br/>
                                            <b>2.</b>{{two}}<br/>
                                            <b>3.</b>{{three}}<br/>
                                            <b>4.</b>{{four}}<br/>
                                            <b>5.</b> {{five}} <br/>
                                    </p>
                                </li>
                               
                            </ul>
                            <h3>
                                Education
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        <b> {{college1}} </b>
                                    </h5><span class="label label-success">2015-2017</span>
                                    <p>
                                      {{msc1}} &nbsp; <b>{{msc}}</b>&nbsp; {{msc2}}
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        <b>{{college2}}</b>
                                    </h5><span class="label label-warning">2012-2015</span>
                                    <p>
                                        I have completed my <b>BCS(Bachelor Of Computer Science) </b> From Shivaji University.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="g1">
                            <div class="sidebar">
                                <h3>
                                    Skills
                                </h3>
                                <h5>
                                    Software
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 33.3%"><span>Photoshop</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 80%"><span>Visual Studio Code</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 70%"><span>Android Studio</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 90%"><span>Microsoft Office</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 90%"><span>Linux</span></span>
                                </div>
                                <div class="break"></div>
                                
                                <div class="break"></div>
                                <h5>
                                    Programming Language
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 80%"><span>HTML5/CSS3</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 70%"><span>AngularJS</span></span>
                                </div>
                                <div class="meter emerald">
                                    <span style="width: 53.3%"><span>NodeJs</span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 33.3%"><span>VueJs</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 63.3%"><span>StrongLoop</span></span>
                                </div>
                                <div class="meter emerald">
                                    <span style="width: 53.3%"><span>MongoDB</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 80%"><span>PHP/MySql</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 75%"><span>jQuery/JavaScript</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 50%"><span>Python</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 60%"><span>Java</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 60%"><span>C/C++</span></span>
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </div>
              
              <!-- End Resume Tab Data -->
          